body {
  background-image: url("../images/background4.jpg");
  background-repeat: no-repeat, repeat;
  background-size: cover;
  font-family: "star_jediregular";
  color: rgb(255, 255, 255);
  line-height: 1.2em;
}

h1 {
  font-family: "star_jedi_hollowregular";
  text-align: center;
  font-size: 75px;
  color: yellow;
}

.character {
  background-color: rgba(255, 255, 255, 0.829);
  color: black;
  border: 2px;
  border-style: solid;
  border-color: beige;
  border-radius: 3px;
  text-align: center;
  box-shadow: 5px 5px 10px rgb(56, 56, 56);
  margin-bottom: 15px;
}

.character img {
  width: 200px;
  border-radius: 5px;
}

button {
  font-family: "star_jediregular";
  padding: 10px;
  border-radius: 2px;
}
